
*.csproj

*.meta

*.sln

*.userprefs

Library/AnnotationManager

Library/assetDatabase3

Library/AssetImportState

Library/AssetServerCacheV3

*.db

*.prefs

*.asset

*.dwlt

Library/LibraryFormatVersion.txt

Library

Temp

*.info
